.contact-wrap {
  background-color: #f7f7f7;
  padding: 20px;
}

.contact-head {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

textarea {
  width: 80%;
  height: 150px;
  resize: none;
  margin-top: 10px;
}

.label-p {
  font-weight: 700;
}

.schedule-tour {
  text-align: center;
  margin: 50px auto;
}

.contact-wrap {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-wrap * {
  box-sizing: border-box;
}

.flex-outer, .flex-inner {
  list-style-type: none;
}

.flex-outer {
  max-width: 800px;
  padding: 0;
  margin: auto;
}

.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-inner > li {
  margin: 20px;
}

.flex-inner > li label {
  margin-left: 10px;
  margin-bottom: 0px;
}

.flex-outer > li > label + *, .flex-inner {
  flex: 1 0 220px;
}

.flex-inner {
  justify-content: center;
  padding: 0 8px;
}

.flex-inner .flex-inner li {
  width: 100px;
  margin: 20px;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 10px;
  margin-top: 0px;
}

.button-wrap {
  margin: auto;
  text-align: center;
}
