.navbar {
  border: 1px solid #dddddd;
}

.header-img {
  width: 80vw;
  margin: auto;
  background-color: black;
  z-index: -1;
}

.header-img img {
  width: 100%;
  max-height: 500px;
}

.floor-plan-content {
  width: 80vw;
  margin: 10px auto;
  background-color: #f7f7f7;
  padding: 20px;
}

.fp-description {
  max-width: 50%;
  margin: 20px auto;
  font-family: roboto;
}

.floor-plan-display {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.floor-plan-display .floor-plan {
  background-color: #bfbbba;
  width: 320px;
  min-height: 350px;
  margin: 20px 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}

.floor-plan-display .floor-plan-title {
  text-transform: uppercase;
  margin-bottom: 5rem;
  font-family: roboto;
  letter-spacing: 1px;
}

.floor-plan-display .view-floor {
  margin-top: 5rem;
  padding: 5px;
  font-family: roboto;
  letter-spacing: 1px;
}

.floor-plan-display .unit-specs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.square-feet {
  width: 100%;
}

.floor-plan-amenities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  margin: auto;
  padding: 10px;
}

.floor-plan-amenities > div {
  flex: 1 0 40%;
  margin: 10px 0 0 5%;
}

a {
  color: black;
}

.fp-services-title {
  text-transform: uppercase;
  color: black;
  font-family: roboto;
  letter-spacing: 1px;
}
