* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #bfbbba;
}

.flex-footer > div {
  min-width: 30%;
  padding: 10px;
  min-height: 100%;
}

.flex-footer h1 {
  text-align: center;
  text-transform: uppercase;
}

.footer-nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 280px;
}

.footer-nav-flex .footer-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-nav-flex .footer-nav-links a {
  text-decoration: underline;
  color: black;
}

.footer-contact {
  text-align: center;
  margin-top: 20px;
}

.footer-contact img {
  min-height: 200px;
  max-height: 220px;
  max-width: 180px;
}

.footer-contact i {
  color: black;
  font-size: 20px;
  margin: 5px 10px;
}

.footer-information {
  text-align: center;
}

.rights-reserved {
  margin-top: 30px;
}
