
    body {
        margin:30px;
        background-image:url("../img/texture.png");// texture
        font-size: 1.8em;
    }

    h2 {
        text-align: center;
    }

    .homePageImg { // styling for images on home page
        width:25%;
        height:auto;
        margin:0em 1.5em;
    }

    div.polaroid { // polaroid styling home page images
        margin-left:5em;
        width: 284px;
        padding: 10px 10px 20px 10px;
        border: 1px solid #BFBFBF;
        background-color: #F2F2F2;
        box-shadow: 10px 10px 5px #aaaaaa;
        h2 {
            text-align: center;
        }
        img {
            border-radius: 50px;
            width:90%;
            height:auto;
        }
      }

      div.rotate_left {
        -ms-transform: rotate(-8deg); /* IE 9 */
        -webkit-transform: rotate(-8deg); /* Safari */
        transform: rotate(-8deg);
      }

      div.rotateL {
        float:left;
        transform:rotate(-12deg);
    }

      div.rotate_right {
        float: left;
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Safari */
        transform: rotate(7deg);
      } 

      .moreSpace {      // these 2 classes for spacing on home page polaroid pics
          margin-top:5em;
      }

      .moreSpace2 {
          margin-top:10em;
      }

      .moreSpace3 {
        margin-top:100em;
    }
// end polaroid style classes

    .main-container {
        width: 80vw;
        margin: auto;

        .center {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    } // end Daves home page contact form styling

        @font-face {
            font-family:reggae;
            src:url(../fonts/ReggaeOne-Regular.ttf)
        }

        @font-face {
            font-family:roboto;
            src:url(../fonts/Roboto-Black.ttf)
        }

        .main-container h1 {
            margin-left:1em;
            color:#A69B7B;
            font-family:roboto;
            font-size: 4.3em;
        }

		 /* navbar styling */

    .navbar-brand {
        margin-left: 10px;

        img {
            max-height: 120px;
            position: relative;
            top: -10px;
            left: 20px;
            }
    }

    .nav-link {
        margin-left: 30px;
        font-size: 1.1em;
        color: #000000;
    }

    .navbar-toggler-icon {
        background-color: lightgrey;
        color: black;
    }


    .row {
        margin: 50px 0px;
    }

    .col {
        margin:10px;
    }
        /* end floor plan styling */


 /* navbar hover style */
.glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  @media only screen and (min-width: 768px) {
    .glow:hover, .glow:focus, .glow:active {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }
    #magnify {
        position:fixed;
        right:30px;
        top:30px;
    }
    }

    @media only screen and (max-width: 767px) { // for mobile devices
        #magnify {
            display:none;
        }
    }