
    body {
        margin:30px;
        background-image:url("../img/texture.png");// texture
        font-size: 1.8em;
    }

      .centerList {
          text-align:center;
          list-style-type:none;
      }

      .pix img{
        border-radius: 30px;
        margin:2em 1em;
        padding:.5em .5em .5em 2.5em;
        width:27%;
        box-shadow: 15px 15px 10px #aaaaaa;
        background-color: white;
      }

    .main-container {
        width: 80vw;
        margin: auto;
        font-size: 1.4em;
        button {
            background-color:#BFBBBA ;
            padding:1em 2em;
            margin:1em;
            border-radius: 20px;
        }

        h2 {
            text-align: center;
            color: green;
            font-weight: bolder;
        }

        h1 {
            margin-left:1em;
            color:#A69B7B;
            font-family:roboto;
            font-size: 4.0em;
        }

        .center {
            width: 100%;
            display: block;
            margin: auto;
        }
    }

    .homeSpace {
        margin-top:2em;
    }

    @font-face {
        font-family:roboto;
        src:url(../fonts/Roboto-Black.ttf)
    }
 
		 /* navbar styling */

    .navbar-brand {
    margin-left: 10px;

    img {
        max-height: 120px;
        position: relative;
        top: -10px;
        left: 20px;
        }
    }

    .nav-link {
        margin-left: 30px;
        font-size: 1.1em;
        color: #000000;
    }

    .navbar-toggler-icon {
        background-color: lightgrey;
        color: black;
    }


 /* navbar hover style */
.glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  @media only screen and (min-width: 768px) {
    .glow:hover, .glow:focus, .glow:active {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }}